# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio workspace and reports
.vs/
TestResults/
 

# IDEs
.vscode/
.id         

# Others
*.temp
*.tmp
NgClientTransfer/src/NgClientTransfer/smtpSettings.json
